<a href="https://colab.research.google.com/github/Lucasdmnasc/MachineLearning/blob/main/Machine_Learning_%7C_Trabalho_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SME0829 - Aprenzidado de Máquina (2022)

Universidade de São Paulo  
Instituto de Ciências Matemáticas e de Computação  

26/05/2022

# Trabalho 1: Linear, Ridge and Lasso Regressions

## Grupo:

Caio Gabriel dos Santos $\quad \quad \quad \;$ 11218236

João Paulo Gucci $\quad \quad \quad \quad \quad \; \;$ 11345489

Lucas Della M. do Nascimento $\; \; \; \;$ 11218278

Mateus Souza Pires $\quad \quad \quad \quad \; \; \;$ 11833639

Vivian Kiyomi Amano $\quad \quad \quad \quad \;$ 11300502

## Introdução



```
# Isto está formatado como código
```

### Importância do problema

### Objetivo

O objetivo é selecionar o melhor modelo, a partir das comparações que serão feitas ao decorrer do trabalho, levando em consideração a quantidade de covariáveis que serão incluídas, valor do Erro Quadrático Médio (EQM) e do Erro Padrão. A partir deste modelo selecionado, o objetivo é fazer predições.  

Lembrando que a linguagem escolhida para este trabalho foi o **Python**.

## Modelo

### Regressão Linear Múltipla

#### Método dos Mínimos Quadrados

Para minimizar o erro, é necessário uma maneira de calcular o erro em primeiro lugar. Uma função de perda no aprendizado de máquina é simplesmente uma medida de quão diferente o valor previsto é do valor real.  

$$L(x) = \sum_{i=1}^{n} (y_i - p_i)^2$$

Agora que foi determinada a função perda, falta minimizá-la. Isso é feito encontrando a derivada parcial de $L$, igualando-a a $0$ e, em seguida, encontrando uma expressão para $m$ e $c$. Depois de fazermos as contas, ficamos com estas equações:  

$$ \frac {\sum_{i=1}^{n} (x_i - \bar{x} ) ( y_{i} - \bar{y} )} {\sum_{i=1}^{n} (x_i - \bar{x} )^2} $$  

$ \; $

$$ c = \bar{y} - m \bar{x}$$  


Aqui $\bar{x}$ é a média de todos os valores na entrada X e $\bar{y}$ é a média de todos os valores na saída Y desejada. (MENON, 2018)

### Regressão de Ridge

[texto do link](https:// [texto do link](https://))A Regressão de Ridge é um método para estimar os coeficientes de modelos de regressão múltipla em cenários onde variáveis ​​linearmente independentes são altamente correlacionadas. \[Wikipédia\]
A Regressão de Ridge é muito semelhante aos mínimos quadrados, exceto pelo fato de que os seus coeficientes são estimados minimizando uma quantidade ligeiramente diferente (os mínimos quadrados minimizam as diferenças entre a previsão $\hat{y}$ e o verdadeiro valor observado da variável dependente $y $). Em particular, o coeficiente de Regressão da Ridge estima que $\left( β^{R}_{i} \; \forall \; i \in \mathbb{N} \right)$ são os valores que minimizam a seguinte função de custo:

$$ \sum_{i=1}^{n} \left( y_{i} - \beta_{0} - \sum_{j=1}^{p} \beta_{j} x_{ij} \right) + \lambda \sum_{j=1}^{p} \left|\left| \beta_{j}^{R} \right|\right|_{L2} $$

Onde:

$n$ - tamanho dos dados

$p$ - número de coeficientes $\beta^{R}$

$\lambda \ge 0$ é um parâmetro de ajuste a ser determinado separadamente.



Ou simplesmente:


$$ \sum \left( y\_observado - \hat{y}\_predito \right) + \lambda \sum \left( \left|\left| \beta_{j}^{R} \right|\right|_{L2} \right) $$


Explanation: https://youtu.be/5asL5Eq2x0A


Assim, a Regressão de Ridge busca os coeficientes $\beta_{i}^{R} \; \forall \; i \in \mathbb{N}$ que torna o RSS menor, mas considerando a soma mínima da norma L2 do vetor de todos os $\beta$'s.

#### O parâmetro de ajuste $\lambda$

O $\lambda$ é usado para balancear o impacto dos 2 termos da expressão que serão minimizados. Portanto, escolher o melhor $\lambda$ é fundamental.  

Quando $\lambda=0$, o termo de penalidade não tem efeito, e a regressão Ridge produzirá as estimativas dos mínimos quadrados.  

No entanto, à medida que $\lambda → \infty$ os coeficientes da regressão Ridge se aproximam de zero. Essa penalidade reduz os coeficientes em um grau muito elevado e torna o modelo mais tendencioso, resultando em um EQM mais alto.  

Porém, o objetivo não é estimar, e sim prever (fornecer boas respostas). E poder fazer previsões usando variáveis altamente correlacionadas na etapa de treinamento é favorável.  

Por esta razão, a regressão Ridge é realmente importante.

#### Como escolher o valor de $\lambda$?

Conjunto de treinamento:  será usado para obter o valor dos coeficientes $W$ a cada valor de $\lambda$. Assume-se que o valor dos coeficientes $W$ para cada valor de $\lambda$ seja $W\lambda$.  

Conjunto de validação: os diferentes valores de $W\lambda$ serão avaliados no conjunto de validação. Aquele que tiver o erro de menor valor será selecionado.  

Conjunto de teste: o valor selecionado dos coeficientes $W$ será novamente avaliado pelo conjunto de teste.  

O método acima é utilizado apenas se uma quantidade suficiente de dados estiver presente.  

E é assim que finalmente o valor de $\lambda$ é selecionado. O processo é uma espécie de força bruta. Mas com suposições inteligentes e experiência, as iterações para adivinhar o valor de $\lambda$ podem ser reduzidas.  

Na prática, o valor de $\lambda$ é escolhido por validação cruzada. [(SINGHAL, 2018)](<https://towardsdatascience.com/machine-learning-ridge-regression-in-detail-76787a2f8e2d>)

### Regressão de Lasso

É uma alternativa relativamente recente à regressão de Ridge que supera essa desvantagem.

Os coeficientes Lasso, $\hat{\beta_{\lambda}^{L}}$ , minimizam a seguinte função de custo:

$$ \sum_{i=1}^{n} \left( y_{i} - \beta_{0} - \sum_{j=1}^{p} \beta_{j} x_{ij} \right) + \lambda \sum_{j=1}^{p} \left|\left| \beta_{j}^{L} \right|\right|_{L1} $$

Em que:

$n$ - tamanho dos dados

$p$ - número de coeficientes $\beta^{R}$

$\lambda \ge 0$ é um parâmetro de ajuste a ser determinado separadamente.



De forma simples:


$$ \sum \left( y\_observado - \hat{y}\_predito \right) + \lambda \sum \left( \left|\left| \beta_{i}^{L} \right|\right|_{L1} \right) $$

Assim, a Regressão do Lasso busca os coeficientes $\beta_{i}^{L} \; \forall \; i \in \mathbb{N}$ que torna o RSS menor, mas considerando a soma mínima da norma L1 de todos os $\beta$'s.

Nesse caso, a penalidade tem o efeito de forçar algumas das estimativas de coeficientes a serem exatamente iguais a zero quando o parâmetro de sintonia λ for suficientemente grande ($\lambda \to ∞$).

#### Benefício em usar a regressão de Lasso

Modelos gerados a partir da Regressão de Lasso são geralmente muito mais fáceis de interpretar do que aqueles produzidos por regressão de Ridge.

## Dados

### Dependências necessárias do Python

In [ ]:
!pip install glmnet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: glmnet in /usr/local/lib/python3.7/dist-packages (2.2.1)
Requirement already satisfied: numpy>=1.9.2 in /usr/local/lib/python3.7/dist-packages (from glmnet) (1.21.6)
Requirement already satisfied: scikit-learn>=0.18.0 in /usr/local/lib/python3.7/dist-packages (from glmnet) (1.0.2)
Requirement already satisfied: scipy>=0.14.1 in /usr/local/lib/python3.7/dist-packages (from glmnet) (1.4.1)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.7/dist-packages (from glmnet) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18.0->glmnet) (3.1.0)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glmnet as gln
from itertools import combinations
import math
from sklearn.preprocessing import scale 
from sklearn import model_selection
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, Lasso, LassoCV
from sklearn.decomposition import PCA
from sklearn.cross_decomposition import PLSRegression
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [ ]:
%matplotlib inline
plt.style.use('seaborn-white')

### Descrição dos dados

A base de dados pode ser obtida através do link: <https://github.com/JWarmenhoven/ISLR-python/tree/master/Notebooks/Data>.

Descrição do conjunto de dados dos lançadores (hitters):
Este conjunto de dados contém as seguintes informações sobre jogadores de beisebol (hitter é o jogador que acerta a bola com o taco):

'AtBat', 'Hits', 'HmRun', 'Runs', 'RBI', 'Walks', 'Years',
'CAtBat', 'CHits', 'CHmRun', 'CRuns', 'CRBI', 'CWalks', 'League',
'Division', 'PutOuts', 'Assists', 'Errors', 'Salary', 'NewLeague'.

In [ ]:
df = pd.read_csv('Hitters.csv', index_col=0).dropna()
df.index.name = 'Player'
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 263 entries, -Alan Ashby to -Willie Wilson
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AtBat      263 non-null    int64
 1   Hits       263 non-null    int64
 2   HmRun      263 non-null    int64
 3   Runs       263 non-null    int64
 4   RBI        263 non-null    int64
 5   Walks      263 non-null    int64
 6   Years      263 non-null    int64
 7   CAtBat     263 non-null    int64
 8   CHits      263 non-null    int64
 9   CHmRun     263 non-null    int64
 10  CRuns      263 non-null    int64
 11  CRBI       263 non-null    int64
 12  CWalks     263 non-null    int64
 13  League     263 non-null    object
 14  Division   263 non-null    object
 15  PutOuts    263 non-null    int64
 16  Assists    263 non-null    int64
 17  Errors     263 non-null    int64
 18  Salary     263 non-null    float64
 19  NewLeague  263 non-null    object
dtypes: float64(1), int64(16), object(3)
memory usage: 43.1+ KB

In [ ]:
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
Player,,,,,,,,,,,,,,,,,,,,
-Alan Ashby,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
-Alvin Davis,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
-Andre Dawson,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
-Andres Galarraga,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
-Alfredo Griffin,594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A

In [ ]:
dummies = pd.get_dummies(df[['League', 'Division', 'NewLeague']])
dummies.info()
print(dummies.head())

<class 'pandas.core.frame.DataFrame'>
Index: 263 entries, -Alan Ashby to -Willie Wilson
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   League_A     263 non-null    uint8
 1   League_N     263 non-null    uint8
 2   Division_E   263 non-null    uint8
 3   Division_W   263 non-null    uint8
 4   NewLeague_A  263 non-null    uint8
 5   NewLeague_N  263 non-null    uint8
dtypes: uint8(6)
memory usage: 3.6+ KB
                   League_A  League_N  Division_E  Division_W  NewLeague_A  \
Player
-Alan Ashby               0         1           0           1            0
-Alvin Davis              1         0           0           1            1
-Andre Dawson             0         1           1           0            0
-Andres Galarraga         0         1           1           0            0
-Alfredo Griffin          1         0           0           1            1

                   NewLeague_N
Player
-Alan Ashby                  1
-Alvin Davis                 0
-Andre Dawson                1
-Andres Galarraga            1
-Alfredo Griffin             0

In [ ]:
y = df.Salary

# Drop the columRegressionn with the independent variable (Salary), and columns for which we created dummy variables
X_ = df.drop(['Salary', 'League', 'Division', 'NewLeague'], axis=1).astype('float64')

# Define the feature set X
X = pd.concat([X_, dummies[['League_N', 'Division_W', 'NewLeague_N']]], axis=1)
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 263 entries, -Alan Ashby to -Willie Wilson
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AtBat        263 non-null    float64
 1   Hits         263 non-null    float64
 2   HmRun        263 non-null    float64
 3   Runs         263 non-null    float64
 4   RBI          263 non-null    float64
 5   Walks        263 non-null    float64
 6   Years        263 non-null    float64
 7   CAtBat       263 non-null    float64
 8   CHits        263 non-null    float64
 9   CHmRun       263 non-null    float64
 10  CRuns        263 non-null    float64
 11  CRBI         263 non-null    float64
 12  CWalks       263 non-null    float64
 13  PutOuts      263 non-null    float64
 14  Assists      263 non-null    float64
 15  Errors       263 non-null    float64
 16  League_N     263 non-null    uint8
 17  Division_W   263 non-null    uint8
 18  NewLeague_N  263 non-null    uint8
dtypes: float64(16), uint8(3)
memory usage: 35.7+ KB

In [ ]:
correlations = []
for variable_1, variable_2 in combinations(list(X.columns), 2):
    corr = np.correlate(X[variable_1], X[variable_2])[0]
    correlations += [[f"{variable_1}-{variable_2}", corr]]

correlations = pd.DataFrame(correlations, columns=["Variables", "Correlation"])
correlations = correlations.sort_values(by=["Correlation"], ascending=False, ignore_index=True)
print(correlations)
print(f"Média das correlações = {correlations['Correlation'].mean()}")

                  Variables  Correlation
0              CAtBat-CHits  891167503.0
1              CAtBat-CRuns  447462034.0
2               CAtBat-CRBI  415120396.0
3             CAtBat-CWalks  325343251.0
4              AtBat-CAtBat  300401845.0
..                      ...          ...
166          Years-League_N        886.0
167       Years-NewLeague_N        877.0
168    League_N-NewLeague_N        114.0
169     League_N-Division_W         63.0
170  Division_W-NewLeague_N         62.0

[171 rows x 2 columns]
Média das correlações = 24475924.9122807

In [ ]:
X.head(5)

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,League_N,Division_W,NewLeague_N
Player,,,,,,,,,,,,,,,,,,,
-Alan Ashby,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,632.0,43.0,10.0,1,1,1
-Alvin Davis,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,880.0,82.0,14.0,0,1,0
-Andre Dawson,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,200.0,11.0,3.0,1,0,1
-Andres Galarraga,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,805.0,40.0,4.0,1,0,1
-Alfredo Griffin,594.0,169.0,4.0,74.0,51.0,35.0,11.0,4408.0,1133.0,19.0,501.0,336.0,194.0,282.0,421.0,25.0,0,1,0

### Dividindo os dados em treinamento e validação

In [ ]:
X_train = pd.read_csv('Hitters_X_train.csv', index_col=0)
y_train = pd.read_csv('Hitters_y_train.csv', index_col=0)
X_test = pd.read_csv('Hitters_X_test.csv', index_col=0)
y_test = pd.read_csv('Hitters_y_test.csv', index_col=0)

### Definindo o dicionário de previsões de teste:

In [ ]:
predictions = dict.fromkeys([
    "Linear Regression",
    "Ridge Regression",
    "Lasso Regression",
    "True Value"
])

coefficients = dict.fromkeys([
    "Coefficients",
    "Linear Regression",
    "Ridge Regression",
    "Lasso Regression"
])

coefficients["Coefficients"] = X.columns

models = dict.fromkeys([
    "EQM",
    "Erro padrão"
])

models["EQM"] = []
models["Erro padrão"] = []

models = pd.DataFrame.from_dict(models)

## Método dos Mínimos Quadrados

### Implementação

In [ ]:
linear_regression = LinearRegression()

In [ ]:
linear_regression.fit(X_train, y_train)

LinearRegression()

In [ ]:
linear_regression.coef_

array([[-2.54027494e+00,  8.36682108e+00,  1.16451245e+01,
        -9.09922578e+00,  2.44104711e+00,  9.23440293e+00,
        -2.29367327e+01, -1.81539446e-01, -1.15981963e-01,
        -1.33887794e+00,  3.32838295e+00,  7.53648802e-02,
        -1.07841010e+00,  5.97606516e+01, -9.88623333e+01,
         3.40868490e-01,  3.41647530e-01, -6.42071595e-01,
        -6.74415887e-01]])

In [ ]:
coefficients["Linear Regression"] = linear_regression.coef_.flatten()

In [ ]:
y_pred = linear_regression.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"MSE = {mse}")

MSE = 114780.61044842967

In [ ]:
models.at["Linear Regression", "EQM"] = mse

In [ ]:
predictions["Linear Regression"] = y_pred.flatten()

Essa variação pode ser vista em alguns $\beta$'s:

In [ ]:
pd.Series(linear_regression.coef_.flatten(), index=X.columns)

AtBat          -2.540275
Hits            8.366821
HmRun          11.645124
Runs           -9.099226
RBI             2.441047
Walks           9.234403
Years         -22.936733
CAtBat         -0.181539
CHits          -0.115982
CHmRun         -1.338878
CRuns           3.328383
CRBI            0.075365
CWalks         -1.078410
PutOuts        59.760652
Assists       -98.862333
Errors          0.340868
League_N        0.341648
Division_W     -0.642072
NewLeague_N    -0.674416
dtype: float64

## Regressão de Ridge

### Implementação

No sklearn.linear_model.Ridge (usado nesta implementação) o parâmetro $\lambda$ é chamado de $\alpha$. Ele não só aceita um valor, mas também um array de termos que irá multiplicar cada coeficiente $\beta$.

Os valores numéricos fornecidos (o valor ou todos os valores dentro de uma matriz) para esta classe devem ser não negativos.

In [ ]:
alphas = 10**np.linspace(10,-2,100)*0.5
alphas

array([5.00000000e+09, 3.78231664e+09, 2.86118383e+09, 2.16438064e+09,
       1.63727458e+09, 1.23853818e+09, 9.36908711e+08, 7.08737081e+08,
       5.36133611e+08, 4.05565415e+08, 3.06795364e+08, 2.32079442e+08,
       1.75559587e+08, 1.32804389e+08, 1.00461650e+08, 7.59955541e+07,
       5.74878498e+07, 4.34874501e+07, 3.28966612e+07, 2.48851178e+07,
       1.88246790e+07, 1.42401793e+07, 1.07721735e+07, 8.14875417e+06,
       6.16423370e+06, 4.66301673e+06, 3.52740116e+06, 2.66834962e+06,
       2.01850863e+06, 1.52692775e+06, 1.15506485e+06, 8.73764200e+05,
       6.60970574e+05, 5.00000000e+05, 3.78231664e+05, 2.86118383e+05,
       2.16438064e+05, 1.63727458e+05, 1.23853818e+05, 9.36908711e+04,
       7.08737081e+04, 5.36133611e+04, 4.05565415e+04, 3.06795364e+04,
       2.32079442e+04, 1.75559587e+04, 1.32804389e+04, 1.00461650e+04,
       7.59955541e+03, 5.74878498e+03, 4.34874501e+03, 3.28966612e+03,
       2.48851178e+03, 1.88246790e+03, 1.42401793e+03, 1.07721735e+03,
       8.14875417e+02, 6.16423370e+02, 4.66301673e+02, 3.52740116e+02,
       2.66834962e+02, 2.01850863e+02, 1.52692775e+02, 1.15506485e+02,
       8.73764200e+01, 6.60970574e+01, 5.00000000e+01, 3.78231664e+01,
       2.86118383e+01, 2.16438064e+01, 1.63727458e+01, 1.23853818e+01,
       9.36908711e+00, 7.08737081e+00, 5.36133611e+00, 4.05565415e+00,
       3.06795364e+00, 2.32079442e+00, 1.75559587e+00, 1.32804389e+00,
       1.00461650e+00, 7.59955541e-01, 5.74878498e-01, 4.34874501e-01,
       3.28966612e-01, 2.48851178e-01, 1.88246790e-01, 1.42401793e-01,
       1.07721735e-01, 8.14875417e-02, 6.16423370e-02, 4.66301673e-02,
       3.52740116e-02, 2.66834962e-02, 2.01850863e-02, 1.52692775e-02,
       1.15506485e-02, 8.73764200e-03, 6.60970574e-03, 5.00000000e-03])

Nesta implementação, usaremos a biblioteca sklearn.linear_model.RidgeCV para realizar um crossvalidation (por padrão, ela executa uma validação cruzada eficiente Leave-One-Out).

Este processo é importante para encontrar o melhor $\lambda$ (parâmetro $\alpha$ do sklearn.linear_model.Ridge).

In [ ]:
ridgecv = RidgeCV(alphas=alphas, scoring='neg_mean_squared_error')
ridgecv.fit(scale(X_train), y_train)

RidgeCV(alphas=array([5.00000000e+09, 3.78231664e+09, 2.86118383e+09, 2.16438064e+09,
       1.63727458e+09, 1.23853818e+09, 9.36908711e+08, 7.08737081e+08,
       5.36133611e+08, 4.05565415e+08, 3.06795364e+08, 2.32079442e+08,
       1.75559587e+08, 1.32804389e+08, 1.00461650e+08, 7.59955541e+07,
       5.74878498e+07, 4.34874501e+07, 3.28966612e+07, 2.48851178e+07,
       1.88246790e+07, 1.42401793e+0...
       3.06795364e+00, 2.32079442e+00, 1.75559587e+00, 1.32804389e+00,
       1.00461650e+00, 7.59955541e-01, 5.74878498e-01, 4.34874501e-01,
       3.28966612e-01, 2.48851178e-01, 1.88246790e-01, 1.42401793e-01,
       1.07721735e-01, 8.14875417e-02, 6.16423370e-02, 4.66301673e-02,
       3.52740116e-02, 2.66834962e-02, 2.01850863e-02, 1.52692775e-02,
       1.15506485e-02, 8.73764200e-03, 6.60970574e-03, 5.00000000e-03]),
        scoring='neg_mean_squared_error')

In [ ]:
print(f"λ = {ridgecv.alpha_}")

λ = 115.5064850041579

### Definindo e treinando o modelo:

In [ ]:
ridge = Ridge(alpha=ridgecv.alpha_)
ridge.fit(scale(X_train), y_train)

Ridge(alpha=115.5064850041579)

#### Exibindo os coeficientes $\beta_{i}^{R}$ ajustados:

In [ ]:
pd.Series(ridge.coef_.flatten(), index=X.columns)

AtBat           7.576771
Hits           22.596030
HmRun          18.971990
Runs           20.193945
RBI            21.063875
Walks          55.713281
Years          -4.687149
CAtBat         20.496892
CHits          29.230247
CHmRun         14.293124
CRuns          35.881788
CRBI           20.212172
CWalks         24.419768
PutOuts        16.128910
Assists       -44.102264
Errors         54.624503
League_N        5.771464
Division_W     -0.293713
NewLeague_N    11.137518
dtype: float64

In [ ]:
coefficients["Ridge Regression"] = ridge.coef_.flatten()

### Fazendo predições

In [ ]:
y_pred = ridge.predict(scale(X_test))
mse = mean_squared_error(y_test, y_pred)
print(f"MSE = {mse}   -> Alto")

MSE = 97384.92959172589   -> Alto

In [ ]:
models.at["Ridge Regression", "EQM"] = mse

In [ ]:
predictions["Ridge Regression"] = y_pred.flatten()

### "Problema" da Regressão de Ridge:

A Regressão de Ridge incluirá todos os preditores de p no modelo final.

A penalidade $\lambda \sum_{j=1}^{p} \beta_{j}^{2}$ encolherá todos os coeficientes para zero, mas não definirá nenhum deles exatamente para zero (a menos que $\lambda = \infty$ e, portanto, o termo de penalidade).

Isso pode não ser um problema para a precisão da previsão, mas pode criar um desafio na interpretação do modelo em cenários em que o número de variáveis ​​p é bastante grande.

Podemos desejar construir um modelo incluindo apenas os preditores que realmente contribuem efetivamente na predição.

Para isso, veremos a seguir a proposta da Regressão de Lasso.

## Regressão de Lasso

#### Implementação

In [ ]:
lassocv = LassoCV(alphas=None, cv=10, max_iter=10000)
lassocv.fit(scale(X_train), y_train.values.ravel())

LassoCV(cv=10, max_iter=10000)

In [ ]:
lasso = Lasso(alpha=lassocv.alpha_, max_iter=10000)

In [ ]:
print(f"λ = {lassocv.alpha_}")

λ = 30.01382256446427

In [ ]:
lasso.set_params(alpha=lassocv.alpha_)
lasso.fit(scale(X_train), y_train)
y_pred = lasso.predict(scale(X_test))
mse = mean_squared_error(y_test, y_pred)
print(f"MSE = {mse}   -> Alto")

MSE = 102924.90954696966   -> Alto

In [ ]:
models.at["Lasso Regression", "EQM"] = mse

In [ ]:
predictions["Lasso Regression"] = y_pred.flatten()

### Alguns dos coeficientes são agora reduzidos a zero:

In [ ]:
pd.Series(lasso.coef_, index=X.columns)

AtBat            0.000000
Hits             0.000000
HmRun            2.154219
Runs             0.000000
RBI             30.835560
Walks          104.071528
Years           -0.000000
CAtBat           0.000000
CHits            0.000000
CHmRun           0.000000
CRuns          132.858095
CRBI             0.000000
CWalks           0.000000
PutOuts          1.896185
Assists        -51.058752
Errors          76.779641
League_N         0.000000
Division_W       0.000000
NewLeague_N      0.000000
dtype: float64

In [ ]:
coefficients["Lasso Regression"] = lasso.coef_.flatten()

## Resultados

### Comparação entre os resultados da Regressão Linear, de Ridge e de Lasso sobre este conjunto de dados:

In [ ]:
predictions["True Value"] = np.array(y_test).flatten()

In [ ]:
predictions = pd.DataFrame.from_dict(predictions)
predictions

     Linear Regression  Ridge Regression  Lasso Regression  True Value
0           235.650139        533.359047        533.813151       475.0
1          1201.165616        827.230374        755.166242       500.0
2           424.732350        537.246810        501.009990       750.0
3            43.910840        132.661447        113.305178       100.0
4           212.415564        219.409631        135.302024        75.0
..                 ...               ...               ...         ...
127         520.841444        508.901739        470.792909       550.0
128         907.198149        709.181442        759.239838       165.0
129        1341.060260        901.385280       1051.181011       875.0
130         976.379902        940.945444       1086.585704       960.0
131         941.791485        599.018801        611.718891      1000.0

[132 rows x 4 columns]

In [ ]:
coefficients = pd.DataFrame.from_dict(coefficients)
coefficients

   Coefficients  Linear Regression  Ridge Regression  Lasso Regression
0         AtBat          -2.540275          7.576771          0.000000
1          Hits           8.366821         22.596030          0.000000
2         HmRun          11.645124         18.971990          2.154219
3          Runs          -9.099226         20.193945          0.000000
4           RBI           2.441047         21.063875         30.835560
5         Walks           9.234403         55.713281        104.071528
6         Years         -22.936733         -4.687149         -0.000000
7        CAtBat          -0.181539         20.496892          0.000000
8         CHits          -0.115982         29.230247          0.000000
9        CHmRun          -1.338878         14.293124          0.000000
10        CRuns           3.328383         35.881788        132.858095
11         CRBI           0.075365         20.212172          0.000000
12       CWalks          -1.078410         24.419768          0.000000
13      PutOuts          59.760652         16.128910          1.896185
14      Assists         -98.862333        -44.102264        -51.058752
15       Errors           0.340868         54.624503         76.779641
16     League_N           0.341648          5.771464          0.000000
17   Division_W          -0.642072         -0.293713          0.000000
18  NewLeague_N          -0.674416         11.137518          0.000000

In [ ]:
models.at["Linear Regression", "Erro padrão"] = math.sqrt(((predictions["Linear Regression"] - predictions["True Value"]).apply(lambda i: i ** 2)).sum() / (len(predictions) - 2))
models.at["Ridge Regression", "Erro padrão"] = math.sqrt(((predictions["Ridge Regression"] - predictions["True Value"]).apply(lambda i: i ** 2)).sum() / (len(predictions) - 2))
models.at["Lasso Regression", "Erro padrão"] = math.sqrt(((predictions["Lasso Regression"] - predictions["True Value"]).apply(lambda i: i ** 2)).sum() / (len(predictions) - 2))

In [ ]:
models

                             EQM  Erro padrão
Linear Regression  114780.610448   341.389024
Ridge Regression    97384.929592   314.456928
Lasso Regression   102924.909547   323.277543

## Referências

SINGHAL, A. Machine Learning: Ridge Regression in Detail. 2018. Disponível em: <https://towardsdatascience.com/machine-learning-ridge-regression-in-detail-76787a2f8e2d>.

MENON, A. Linear Regression Using Least Squares. 2018. Disponível em: <https://towardsdatascience.com/linear-regression-using-least-squares-a4c3456e8570>